html, 
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("imagenes/fondo-marino.jpg");
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 100%;
    width: 100%;
    color: white;
}

header {
    text-align: center;
    color:#ffcc00; 
    font: 32px Arial; 
    text-shadow: 5px 5px #ff3399;  
}

ul {
    list-style: none;
}

.game-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    text-align: center;
}

.game-intro > section:first-child {
    margin-left: 50px;
}

.game-intro > section:last-child {
    margin-right: 50px;
}

#jugador {
    
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: fit-content;
}

#instrucciones {
    border: 2px solid #ffcc00;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#recursos {
    border: 2px solid #f75ca9;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#obstaculos {
    display: flex;
    flex-direction: column;
    border: 2px solid #f75ca9;
    align-content: center;
}

#recursos > ul > li > img {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 70px;
}

#obstaculos > ul > li > img {
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 50px;
    margin-right: 10px;
    margin-bottom: 10px;

}

#game-board {
    display: none;
    border: 1px solid black;
}

#recursos > ul> li {
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 0;

}

#obstaculos > ul> li {
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 0;
}

footer {
    text-align: center;
}

#iniciar-juego {
    border: 1px solid black;
    border-radius: 5px;
    background-color:#ffcc00; 
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    font-weight: bolder;
}

#iniciar-juego:hover {
    background-color: #ffc266;    
}

.reiniciar {
    width: 25%;
    border: 1px solid black;
    border-radius: 5px;
    background-color:#ffcc00;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    font-weight: bolder;
    position: absolute;
    bottom: 100px;
    right: 500px;
}

.reiniciar:hover {
    background-color:  #ffc266;
}


